<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/emprendimiento/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/linericon/style.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/emprendimiento/css/style.css">

    <title>Informacion del emprendimiento</title>

    <!--==========================Icono de barra==============================================================-->
    <link rel="shortcut icon" href="static/t2/assets/ico/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="114x114" href="static/t2/assets/ico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="static/t2/assets/ico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="static/t2/assets/ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" href="static/t2/assets/ico/apple-touch-icon.png" />
    <!--==========================Icono de barra==============================================================-->


</head>

<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <a class="navbar-brand logo_h" href="index.html"><img src="" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                {% if not vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/emprendimientoInicioInversionista">Inicio</a></li>
                {%endif%}
                {% if  vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/emprendimientoInicio">Inicio</a></li>
                {%endif%}
                {% if  vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/quienes_somos">Historia</a></li>
                {%endif%}
                {% if not vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/quienes_somosInv">Historia</a></li>
                {%endif%}
                {% if  vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/registroProductos">Productos</a></li>
                {%endif%}
                {% if not vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/registroProductosInv">Productos</a></li>
                {%endif%}
                {% if  vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/informacion">Información</a></li>
                {%endif%}
                {% if not vistaEmprendedor %}
                <li class="nav-item active"><a class="nav-link" href="/infoEmprendimiento">Información</a></li>
                {%endif%}
                </ul>

                <ul class="nav-shop">
                {% if  vistaEmprendedor %}
                <li class="nav-item"><a class="button button-header" href="emprendedorProfile">Volver a mi perfil</a></li>
                {%endif%}
                {% if not vistaEmprendedor %}
                <li class="nav-item"><a class="button button-header" href="/InicioInv">Volver al inicio</a></li>
                {%endif%}
                </ul>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <!--================ Start Header Menu Area =================-->
    <!-- ================ start banner area ================= -->	
		<div class="container h-1">
		<br><br>
			<div class="blog-banner">
				<div class="text-center">
					<h1>Información del emprendimiento</h1>
				</div>
			</div>
        </div>
	<!-- ================ end banner area ================= -->

    <!--================Checkout Area =================-->

    <section class="order_details section-margin--small">
        <div class="container">          
            <div class="order_details_table">
                <h2>Información financiera</h2>
                <div class="table-responsive">
                    
                    {% for registro in data2 %}    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Información</th>
                                    <th scope="col"></th>
                                    <th scope="col">Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Inversión inicial</p>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <p>$ {{registro["inversion_inicial"]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Ventas del año pasado</p>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <p>$ {{registro["venta_año_anterior"]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        {%if vistaEmprendedor%}
                        <form action="/informacion" method="POST">
                            <button class="button button-paypal" type="submit" value="delete"> Modificar</button>
                            <input type="hidden" name="formId" id="formId" value="1">
                            <input type="hidden" name="fecha_fundacionx" id="fecha_fundacionx"
                                value="{{registro["fecha_fundacion"]}}">
                            <input type="hidden" name="inversion_inicialx" id="inversion_inicialx"
                                value="{{registro["inversion_inicial"]}}">
                            <input type="hidden" name="venta_año_anteriorx" id="venta_año_anteriorx"
                                value="{{registro["venta_año_anterior"]}}">
                        </form>
                        {%endif%}
                        {% endfor %}
                        {%if vistaEmprendedor%}
                        <br><br>
                        <h2>Historial de ofertas</h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Especificaciones</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Porcentaje</th>
                                    <th scope="col">Fecha</th>
                                </tr>
                                
                            </thead>
                            {% for registro in ofertas %}
                                <tr>
                                    <td>
                                        <p>{{registro["especificaciones"]}}</p>
                                    </td>
                                    <td>
                                        <p>$ {{registro["oferta"]}}</p>
                                    </td>
                                    <td>
                                        <p>{{registro["porcentaje"]}} %</p>
                                    </td>
                                    <td>
                                        <p>{{registro["fecha"]}}</p>
                                    </td>
                                </tr>
                                
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <br><br>
                        <form action="/informacion" method="POST">
                            <button class="button button-paypal" type="submit" value="insert">Agregar</button>
                            <input type="hidden" name="formId" id="formId" value="5">
                        </form>
                            {% if ultima_oferta != None %}
                            <br>
                            <form action="/informacion" method="POST">
                                <button class="button button-paypal" type="submit" value="delete">Eliminar último registro</button>
                                <input type="hidden" name="formId" id="formId" value="7">
                                <input type="hidden" name="id_historial" id="id_historial" value="{{ultima_oferta["id"]}}">
                            </form>
                            <br>
                            <form action="/informacion" method="POST">
                                <button class="button button-paypal" type="submit" value="update">Modificar último registro</button>
                                <input type="hidden" name="formId" id="formId" value="8">
                                <input type="hidden" name="id_historial" id="id_historial" value="{{ultima_oferta["id"]}}">
                                <input type="hidden" name="especificaciones" id="especificaciones" value="{{ultima_oferta["especificaciones"]}}">
                                <input type="hidden" name="oferta" id="oferta" value="{{ultima_oferta["oferta"]}}">
                                <input type="hidden" name="porcentaje" id="porcentaje" value="{{ultima_oferta["porcentaje"]}}">
                            </form>
                            {% endif %}
                        {%endif%}

                        {%if not vistaEmprendedor%}
                            {% if ultima_oferta != None %}
                            <br><br>
                            <h2>Oferta actual</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Especificaciones</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Porcentaje</th>
                                        <th scope="col">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{ultima_oferta["especificaciones"]}}</p>
                                        </td>
                                        <td>
                                            <p>$ {{ultima_oferta["oferta"]}}</p>
                                        </td>
                                        <td>
                                            <p>{{ultima_oferta["porcentaje"]}} %</p>
                                        </td>
                                        <td>
                                            <p>{{ultima_oferta["fecha"]}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endif %}
                        </table>
                        {%endif%}

                    </div>
                </div>

                <br><br>

                <div class="billing_details">
                    <div class="row">
                        <!--Correo-->
                        {%if vistaInversor%}
                        <div class="col-lg-8">
                            <h3>Contacta a los fundadores de este emprendimiento</h3>
                            Recuerda: <br>
                            - Fishing es la mejor plataforma interactiva para invertir tu capital <br>
                            - Fishing protege tu información <br>
                            - Fishing te notificará si un inversionista está interesado en ti a través de un correo a la
                            cuenta de todos los fundadores. Luego del primer contacto, nuestra plataforma deja a los
                            involucrados continuar las negociaciones por los medios c=que consideren pertinentes

                            <p>{{message1}}</p>
                            <br>
                            <form action="/infoEmprendimiento" method="POST">
                                <textarea name="message" id="message" rows="12"
                                    cols="100">Escribe aquí el correo que deseas enviar</textarea>
                                <br><br><button class="button button-paypal" type="submit" value="send"> Enviar</button>
                            </form>
                        </div>
                        {%endif%}

                        <!--Correo-->

                        {%if vistaEmprendedor%}
                        <div class="col-lg-8">
                            <h3>Comparte tu información a través de nuestra plataforma</h3>
                            Recuerda: <br>
                            - Fishing es la mejor plataforma interactiva para hacer crecer tu negocio <br>
                            - Fishing protege tu información <br>
                            - Fishing te notificará si un inversionista está interesado en ti a través de un correo a la
                            cuenta de todos los fundadores. Luego del primer contacto, nuestra plataforma deja a los
                            involucrados continuar las negociaciones por los medios c=que consideren pertinentes
                        </div>
                        {%endif%}

                        <div class="col-lg-4">
                            <div class="order_box">
                                {% for registro in data %}
                                <h2>Contactos</h2>
                                <ul class="list">
                                    <li><a>
                                            <h4>Telefono <span class="middle"></span> <span
                                                    class="last">{{registro["telefono"]}}</span>
                                                <h4>
                                        </a></li>
                                    <li><a>
                                            <h4>Email <span class="middle"></span> <span
                                                    class="last">{{registro["email"]}} </span>
                                                <h4>
                                        </a></li>
                                    <br>
                                </ul>
                                <h2>Reded sociales</h2>
                                <ul class="list">
                                    <li><a>
                                            <h4>Facebook <span class="middle"></span> <span
                                                    class="last">{{registro["facebook"]}}</span>
                                                <h4>
                                        </a></li>
                                    <li><a>
                                            <h4>Instagram <span class="middle"></span> <span
                                                    class="last">{{registro["instagram"]}} </span>
                                                <h4>
                                        </a></li>
                                    <li><a>
                                            <h4>Youtube <span class="middle"></span> <span
                                                    class="last">{{registro["youtube"]}}</span>
                                                <h4>
                                        </a></li>
                                    <br>
                                </ul>
                                {%if vistaEmprendedor%}
                                <form action="/informacion" method="POST">
                                    <button class="button button-paypal" type="submit" value="modificar"> Modificar
                                        contactos</button>
                                    <input type="hidden" name="formId" id="formId" value="3">
                                    <input type="hidden" name="emailx" id="emailx" value="{{registro["email"]}}">
                                    <input type="hidden" name="telefonox" id="telefonox"
                                        value="{{registro["telefono"]}}">
                                    <input type="hidden" name="facebookx" id="facebookx"
                                        value="{{registro["facebook"]}}">
                                    <input type="hidden" name="instagramx" id="instagramx"
                                        value="{{registro["instagram"]}}">
                                    <input type="hidden" name="youtubex" id="youtubex" value="{{registro["youtube"]}}">
                                </form>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!--================ Start footer Area  =================-->
        <!-- Javascript control de errores --> 
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
    <script src="static/perfil/assets/js/validation.js"></script>
<!--================ Start footer Area  =================-->	
{% for registro in data3 %}	
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Descripcion</h4>
                            {% for registro in data4 %}
                                <p>
                                    {{registro["descripcion"]}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Redes sociales</h4>
                            <ul class="list">
                                <li><a>Facebook: {{registro["facebook"]}}</a></li>
                                <li><a>Instagram: {{registro["instagram"]}}</a></li>
                                <li><a>Youtube: {{registro["youtube"]}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                
                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Numero de telefono
                                </p>
                                <p>
                                    {{registro["telefono"]}}
                                </p>
    
                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    {{registro["email"]}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row d-flex">
                        <p class="col-lg-12 footer-text text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Fishing 2020 | An ocean full of
                            great ideas <i class="fa fa-heart" aria-hidden="true"></i> by <a>Fishing</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endfor %}

    <!--================ End footer Area  =================-->


    <!--POPUP: Modificar informacion de contacto-->
    {%if mostrar1%}
        <form action="/informacion" method="POST">
            <br>
            <p>Modifica el campo que necesites</p>
            <table>
                <tr>
                    <td><input type="text" id="emailUP" name="emailUP" value="{{emailUpx}}"></td>
                    <td><input type="text" id="telefonoUP" name="telefonoUP" value="{{telefonoUpx}}"></td>
                    <td><input type="text" id="facebookUP" name="facebookUP" value="{{facebookUpx}}"></td>
                    <td><input type="text" id="instagramUP" name="instagramUP" value="{{instagramUpx}}"></td>
                    <td><input type="text" id="youtubeUP" name="youtubeUP" value="{{youtubeUpx}}"></td>
                    <td><input type="submit" value="Aceptar Cambios"> </td>
                    <td><input type="submit" value="Aceptar Cambios"> </td>
                    <input type="hidden" id="formId" name="formId" value="4">
                </tr>
            </table>
        </form>
    {%endif%}
    
    {%if mostrar2%}
        <p>Inserta una nueva oferta</p>
        <form action="/informacion" method="POST">
            Especificaciones: <textarea  name="especificaciones" id="especificaciones" rows="10" cols="100" ></textarea>
            Oferta: $<input type="text" id="oferta" name="oferta"><br>
            Porcentaje: <input type="text" id="porcentaje" name="porcentaje">% <br>
            <input type="submit" value="Agregar"><br>
            <input type="hidden" id="formId" name="formId" value="6"><br>
        </form>
    {%endif%}
    
    {%if mostrar3%}
        <p>Inserta una nueva oferta</p>
        <form action="/informacion" method="POST">
            Especificaciones: <textarea  name="especificaciones" id="especificaciones" rows="10" cols="100" >{{data3["especificaciones"]}}</textarea>
            Oferta: $<input type="text" id="oferta" name="oferta" value="{{data3["oferta"]}}"><br>
            Porcentaje: <input type="text" id="porcentaje" name="porcentaje" value="{{data3["porcentaje"]}}">% <br>
            <input type="submit" value="Agregar"><br>
            <input type="hidden" id="formId" name="formId" value="9"><br>
            <input type="hidden" id="id_historial" name="id_historial" value="{{data3["id_historial"]}}"><br>
        </form>
    
    {%endif%}

    <!--POPUP: Modificar informacion -->
    {%if mostrar%}
        <form action="/informacion" method="POST">
            <br>
            <p>Modifica el campo que necesites</p>
            <table>
                <tr>
                    <td><input type="text" id="fecha_fundacionUP" name="fecha_fundacionUP"
                            value="{{fecha_fundacionUpx}}"></td>
                    <td><input type="text" id="inversion_inicialUP" name="inversion_inicialUP"
                            value="{{inversion_inicialUpx}}"></td>
                    <td><input type="text" id="venta_año_anteriorUP" name="venta_año_anteriorUP"
                            value="{{venta_año_anteriorUpx}}"></td>
                    <td><input type="submit" value="Aceptar Cambios"> </td>
                    <input type="hidden" id="formId" name="formId" value="2">
                </tr>
            </table>
        </form>
    {%endif%}
